// 覆盖默认主题样式
:root{
  // 内容区宽度
  --content-width: 780px !important;
  // 侧边栏宽度
  --sidebar-width: 18rem !important;
  // 引用框样式
  --c-text-quote:#666!important;
  --c-border-dark: #3eaf7c!important;
}

// 题头的样式
.sidebar-heading{
  font-size: 1.3rem !important;
}

// 一级标题的样式
.sidebar > .sidebar-items > li > .sidebar-item-children > li > .sidebar-item {
  font-size: 1.1rem !important;
}

.sidebar > .sidebar-items > li > .sidebar-item-children > li .sidebar-item-children > li > .sidebar-item{
  font-size: 0.85rem !important;
}